# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.venv/
env/
venv/
*.env

# Qdrant local storage
qdrant_storage/
uploads/

# Logs and temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

uv.lock
